bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
DownloadedResources
*.log
nlp_research/mongo_data
nlp_research/chroma_data
nlp_research/llm_models
**/__pycache__
RAG_Evaluation_Framework/data
RAG_Evaluation_Framework/output
RAG_Evaluation_Framework/2026_01_26/output
